.page {
  margin: 0;
  padding: 0;
  background-color: #000;
  box-sizing: border-box; /* без этого по краям сайта бортики белые */

  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  color: #FFF;
}


