.button_type_add {
  width: 150px;
  height: 50px;
  box-sizing: border-box;

  background-color: #000;
  border: 2px solid #FFFFFF;
  border-radius: 2px;

  justify-self: end;
  align-self: center;

  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  .button_type_add {
    grid-column-start: 2;
  }
}


@media screen and (max-width: 540px) {
  .button_type_add {
    width: 100%;
    grid-column-start: auto;
  }
}
