.button_type_edit {
  width: 24px;
  height: 24px;
  background-color: #000;
  border: 1px solid #fff;

  background-image: url("../../../images/button_edit.svg");
  background-size: 10px;
  background-position: center;
  background-repeat: no-repeat;


  align-self: center;
  grid-column-start: 3;
}

@media screen and (max-width: 768px) {
  .button_type_edit {
    width: 21px;
    height: 21px;
  }
}

@media screen and (max-width: 320px) {
  .button_type_edit {
    width: 18px;
    height: 18px;
  }
}
