.content {
  margin: 0;
  padding: 0;
  width: 100%;

  display: grid;
  row-gap: 50px;

  flex: 1; /* для липкого футера */
}

@media screen and (max-width: 768px) {
  .content {
    row-gap: 43px;
  }
}

@media screen and (max-width: 320px) {
  .content {
    row-gap: 36px;
  }
}
