.profile__info {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  align-self: center;

  display: grid;

  /* 3 колонки чтобы центральная колонка при 320px была в центре.
  А так же первая колонка(вместе с column-gap) играет роль отступа от Аватарки при больших разрешениях*/
  grid-template-columns: 12px min-content min-content;
  grid-template-rows: min-content min-content;
  column-gap: 18px;
  row-gap: 5px;
}

@media screen and (max-width: 320px) {
  .profile__info {
    column-gap: 10px;
  }
}
