.button {
  margin: 0;
  padding: 0;
  cursor: pointer;

  /* обнуляем стили кнопок */
  background: none;
  box-shadow: none;
  border: none;
}

.button:hover {
  transition: opacity 0.2s ease;
  opacity: 0.6;
}
